<!--<div class="sidebar sidebar-secondary sidebar-default">
  <div class="sidebar-content">



<div class="sidebar-category" *ngIf="false">
  <div class="category-title">
    <span>Actions</span>
    <ul class="icons-list">
      <li><a href="#" data-action="collapse"></a></li>
    </ul>
  </div>

  <div class="category-content">
    <a href="#" class="btn bg-pink-400 btn-rounded btn-block btn-xs">New message</a>
    <a href="#" class="btn bg-teal-400 btn-rounded btn-block btn-xs" *ngIf="false">New conference</a>
  </div>
</div>
<div class="sidebar-default">

  <div class="category-content no-padding">
    <ul class="navigation navigation-alt navigation-accordion">
      <li class="navigation-header">Niveaux</li>
      <li class="navigation-divider"></li>
      <li class="{{selectedLevel==0?'active':''}}"><a (click)="selectLevel(0)">Tous </a></li>
      <li class="{{selectedLevel==1?'active':''}}"><a (click)="selectLevel(1)"> PCEM1 </a></li>
      <li class="{{selectedLevel==2?'active':''}}"><a (click)="selectLevel(2)"> PCEM2 </a></li>
      <li class="{{selectedLevel==3?'active':''}}"><a (click)="selectLevel(3)"> DCEM1 </a></li>
      <li class="{{selectedLevel==4?'active':''}}"><a (click)="selectLevel(4)"> DCEM2 </a></li>
      <li class="{{selectedLevel==5?'active':''}}"><a (click)="selectLevel(5)"> DCEM3 </a></li>
      <li class="{{selectedLevel==6?'active':''}}"><a (click)="selectLevel(6)"> Internat </a></li>
      <li class="{{selectedLevel==7?'active':''}}"><a (click)="selectLevel(7)"> Internat(AR) </a></li>
      <li class="{{selectedLevel==8?'active':''}}"><a (click)="selectLevel(8)"> TCEM1</a></li>
      <li class="{{selectedLevel==9?'active':''}}"><a (click)="selectLevel(9)"> TCEM2 </a></li>
      <li class="{{selectedLevel==10?'active':''}}"><a (click)="selectLevel(10)"> TCEM3 </a></li>
      <li class="{{selectedLevel==11?'active':''}}"><a (click)="selectLevel(11)"> TCEM4 </a></li>
      <li class="{{selectedLevel==12?'active':''}}"><a (click)="selectLevel(12)"> TCEM5 </a></li>
    </ul>
  </div>
</div>



</div>
</div>-->
<!-- /secondary sidebar -->


<!-- Content area -->
<div class="content">

  <!-- Invoice archive -->
  <div class="panel panel-white">
    <div class="panel-heading">
      <h6 class="panel-title">Liste étudiant</h6>
      <br>
      <div class="row">
        <div class="col-md-9">
          <select class="select-level">
            <option value="0">Tous les Niveaux</option>
            <option *ngFor="let level of levels" value="{{level.id_level}}">
              {{level.label}}
            </option>
          </select>
        </div>
        <div class="col-md-3">
          <button (click)="downloadStudentsExcel()" type="button"
                  class="btn btn-info btn-labeled btn-labeled-right">
            <b><i class="icon-file-excel"></i></b>
            Générer Excel des étudiants
          </button>
        </div>
      </div>
    </div>
    <br>

    <table class="table datatable-basic" [ngBusy]="busy">
      <thead>
      <tr>
        <th>#</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>CIN/Passport</th>
        <th>E-mail</th>
        <th>Niveau</th>
        <th>Année universitaire</th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let item of registrationsUniversityStudents;let i=index;">
        <td>{{item.id_student}}</td>
        <td>
          {{item.first_name}}
        </td>
        <td>
          {{item.last_name}}
        </td>
        <td>
          <span *ngIf="item.cin">{{item.cin.code}}</span>
          <span *ngIf="item.cin && item.passport">/</span>
          <span *ngIf="item.passport">{{item.passport.code}}</span>
        </td>
        <td>
          {{item.email}}
        </td>
        <td>
          {{item.registrations[0].level.label}}
        </td>
        <td>
          {{item.registrations[0].registration_university.year_university}}
        </td>
        <td>
          <ul class="icons-list">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-menu9"></i>
              </a>

              <ul class="dropdown-menu dropdown-menu-right">

                <li><a (click)="generationAttestationFr(i)"><i class="icon-database-export"></i>Att
                  inscription</a></li>
                <li><a (click)="generationPresenceFr(i)"><i class="icon-database-export"></i>Att Présence</a></li>
                <li><a (click)="generationAttestationAr(i)"><i class="icon-database-export">

                </i>
                  شهادة ترسيم</a></li>
                <li><a (click)="generationPresenceAr(i)"><i class="icon-database-export">

                </i>
                  شهادة حضور </a></li>


                <li><a (click)="retirerInscriptionStudent(item.registrations[0].id_Registration_University_Student,i)"><i
                  class="icon-box-remove"></i>Retirer
                  Inscription</a></li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <!-- /invoice archive -->

</div>

