<!-- Content area -->
<div class="content" [ngBusy]="busy">

  <!-- Registration form -->
  <form #registerForm="ngForm" class="form-validate">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="panel registration-form">
          <div class="panel-body">
            <div class="text-center">
              <h5 class="content-group-lg">Concours d'{{title}}
              </h5>
            </div>

            <!-- Aggregation -->
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Année universitaire :</label>
                  <select name="year" class="select-year">
                    <option value="0" disabled>Choisir l'année</option>
                    <option *ngFor="let year of years" value="{{year}}">
                      {{year}}
                    </option>
                  </select>
                </div>
                <label *ngIf="submitted&&!teacher.concours[indexSelected].year"
                       class="validation-error-label">Ce champs
                  est
                  obligatoire.</label>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Résultat :</label>
                  <select name="result" class="select-result">
                    <option value="0" disabled>Resultat</option>
                    <option *ngFor="let result of results" value="{{result.id_result}}">
                      {{result.label}}
                    </option>
                  </select>
                </div>
                <label *ngIf="submitted&&!teacher.concours[indexSelected].id_result"
                       class="validation-error-label">Ce champs
                  est
                  obligatoire.</label>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Spécialité :</label>
                  <select name="specialite" class="select-specialite">
                    <option value="0" disabled>Choisir la spécialité</option>
                    <option *ngFor="let speciality of specialities" value="{{speciality.id_Specialite}}">
                      {{speciality.nom}}
                    </option>
                  </select>
                </div>
                <label *ngIf="submitted&&!teacher.concours[indexSelected].id_Specialite"
                       class="validation-error-label">Ce
                  champs
                  est
                  obligatoire.</label>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3  text-right" style="margin-bottom: 15px">
                <button [routerLink]="['/teacher-file']"
                        class="btn bg-grey-400"> Annuler
                </button>
              </div>
              <button (click)="reinitialiseConcour()"
                      class="col-md-4 btn bg-danger-400 btn-danger btn-labeled-right ml-10"><b><i
                class="icon-close2"></i></b> Réinitialiser mon {{title}}
              </button>
              <div class="col-md-3 text-right" style="margin-bottom: 15px">
                <button (click)="validationConcour()"
                        class="btn bg-teal-400"> Valider
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
