<div class="form-group col-lg-5">
  <div class="form-group">
    <div class="tooltip right in"
         style="display: block; position: relative; margin: 0; padding: 0; z-index: 100;">
      <div class="tooltip-inner" style="max-width: none;">
        <ul>
          <li>Clairement lisibles</li>
          <li>Orientés dans le bon sens de la lecture (Paysage=Horizontal ou Portrait=Vertical)</li>
          <li>Authentiques en couleurs de préférence sinon noirs et blancs en copie-conforme</li>
          <li>Si scannés, redimensionnés selon les normes suivantes (avec un logiciel de traitement d'images comme
            Paint, Office Picture Manager ou Photoshop) :
          </li>
          <li> (Paysage) : Largeur 990 pixels / Hauteur 700 pixels (35 cm / 24,7 cm)</li>
          <li>(Portrait) : Largeur 700 pixels / Hauteur 990 pixels (24,7 cm / 35 cm)</li>
          <li> Si photographiés, avec l'application "CamScanner" sur Android ou iOS</li>
        </ul>
      </div>
      <div class="tooltip-arrow" style="left: -4px;"></div>
    </div>
  </div>
</div>
