<div class="sidebar sidebar-secondary sidebar-default">
  <div class="sidebar-content">


    <!-- Actions -->
    <div class="sidebar-category" *ngIf="false">
      <div class="category-title">
        <span>Actions</span>
        <ul class="icons-list">
          <li><a href="#" data-action="collapse"></a></li>
        </ul>
      </div>

      <div class="category-content">
        <a href="#" class="btn bg-pink-400 btn-rounded btn-block btn-xs">New message</a>
        <a href="#" class="btn bg-teal-400 btn-rounded btn-block btn-xs" *ngIf="false">New conference</a>
      </div>
    </div>
    <!-- /actions -->


    <!-- Sub navigation -->
    <div class="sidebar-default">

      <div class="category-content no-padding">
        <ul class="navigation navigation-alt navigation-accordion">
          <li class="navigation-header" *ngIf="false">Actions</li>
          <li *ngIf="false"><a href="#"><i class="icon-compose"></i> Composer un message</a></li>
          <li *ngIf="false"><a [routerLink]="'/support/messages/discussion'"><i class="icon-collaboration"></i> Message
            Example</a>
          </li>
          <li *ngIf="false"><a href="#"><i class="icon-user-plus"></i> Add users <span
            class="label label-success">32 online</span></a></li>
          <li *ngIf="false"><a href="#"><i class="icon-users"></i> Create team</a></li>
          <li><a [routerLink]="'/support/messages/'+user+'/all'"><i class="icon-files-empty active"></i>Toutes les
            discussions<span
              class="badge badge-danger" *ngIf="false">99+</span></a></li>
          <li><a [routerLink]="'/support/messages/'+user+'/active'"><i class="icon-file-plus"></i>Les discussions actives<span
            class="badge badge-default" *ngIf="false">32</span></a></li>
          <li><a [routerLink]="'/support/messages/'+user+'/closed'"><i class="icon-file-locked"></i>Les discussions
            fermées </a></li>

        </ul>
      </div>
    </div>
    <!-- /sub navigation -->


  </div>
</div>
<!-- /secondary sidebar -->


<div class="content-wrapper">


  <router-outlet></router-outlet>

  <!-- Content area -->

</div>
