<!-- Page header -->
<div class="page-header page-header-default">
  <div class="page-header-content">
    <div class="page-title">
      <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Discussions</span> - Fermées</h4>
    </div>

    <div class="heading-elements">
      <div class="heading-btn-group">
        <a href="#" class="btn btn-link btn-float has-text"><i
          class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
        <a href="#" class="btn btn-link btn-float has-text"><i class="icon-calculator text-primary"></i>
          <span>Invoices</span></a>
        <a href="#" class="btn btn-link btn-float has-text"><i class="icon-calendar5 text-primary"></i>
          <span>Schedule</span></a>
      </div>
    </div>
  </div>

  <div class="breadcrumb-line">
    <ul class="breadcrumb">
      <li><a href="index.html"><i class="icon-home2 position-left"></i> Home</a></li>
      <li><a href="support_conversation_layouts.html">Conversation</a></li>
      <li class="active">Layouts</li>
    </ul>

    <ul class="breadcrumb-elements">
      <li><a href="#"><i class="icon-comment-discussion position-left"></i> Support</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="icon-gear position-left"></i>
          Settings
          <span class="caret"></span>
        </a>

        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#"><i class="icon-user-lock"></i> Account security</a></li>
          <li><a href="#"><i class="icon-statistics"></i> Analytics</a></li>
          <li><a href="#"><i class="icon-accessibility"></i> Accessibility</a></li>
          <li class="divider"></li>
          <li><a href="#"><i class="icon-gear"></i> All settings</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<!-- /page header -->


<div class="content">

  <!-- Invoice archive -->
  <div class="panel panel-white">
    <div class="panel-heading">
      <h6 class="panel-title">Liste des conversations</h6>
      <div class="heading-elements">
        <ul class="icons-list">
          <li><a data-action="collapse"></a></li>
        </ul>
      </div>
    </div>

    <div class="panel-body">
      <ul class="media-list content-group" [ngBusy]="busy">

        <li class="media" *ngFor="let conversation of conversations;let i=index">
          <div class="media-left">
            <img
              src="{{conversation.student.img?baseUrl+conversation.student.img.path:'assets/images/placeholder.jpg'}}"
              class="img-circle"
              alt=""></div>
          <div class="media-body">
            <div class="media-heading">
             <span
               class="status-mark {{conversation.status===-1?'border-danger':'border-green'}} position-left"></span>
              <a [routerLink]="'/support/messages/'+conversation.id_Conversation+'/discussion'" class="text-semibold">{{conversation.student?conversation.student.first_name+'
                '+conversation.student.first_name:'Vous'}}</a>
              <span class="media-annotation dotted">{{conversation.latest_message.updated_at|amTimeAgo}}</span>
            </div>
            {{conversation.latest_message.content}}
          </div>
        </li>

        <!--
        <li class="media date-step text-muted">
          <span>Saturday, Feb 12</span>
        </li>

        <li class="media date-step text-muted">
          <span>Today</span>
        </li>

        <li class="media">
          <div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle" alt=""></div>
          <div class="media-body">
            <div class="media-heading">
              <a href="#" class="text-semibold">Will Grace</a>
              <span class="media-annotation dotted">2:29 am</span>
            </div>
            Besides lax yikes and a much deservedly much that constructively flexibly darn a one and and whooped
            without the and darn contemplated jokingly some ordered oh domestic possessive far
          </div>
        </li>
        -->

      </ul>

    </div>
  </div>


</div>
