<!-- Default functionality -->
<div class="panel panel-flat">
  <div class="panel-heading">
    <h6 class="panel-title text-semibold">Ordre chronologique</h6>
    <div class="heading-elements">
      <ul class="icons-list">
        <li><a data-action="collapse"></a></li>
        <li><a data-action="reload"></a></li>
        <li><a data-action="close"></a></li>
      </ul>
    </div>
  </div>

  <div class="panel-body">
    <p class="content-group">Classez les thèmes de cette unité selon l'ordre chronologique qu'ils doivent suivre</p>

    <div   class="text-center" >
      <ul class="selectable-demo-list" id="classement-choice">
        <li *ngFor="let theme of themes" id={{theme.theme_id}}> {{theme.code}}: {{theme.contenu}} </li>
      </ul>
    </div>
    <div class="text-right">
      <button class="btn btn-primary" (click)="onSubmit()">Envoyer<i
        class="icon-arrow-right14 position-right"></i></button>
    </div>
  </div>

</div>
<!-- /default functionality -->
