<!-- Quick stats boxes -->
<div class="page-container">
  <div class="page-content">
    <div class="content-wrapper">
      <div class="content" [ngBusy]="busy">
        <div class="panel panel-flat">
          <div class="panel-heading">
            <h6 class="panel-title">Statistique Générale<a class="heading-elements-toggle"><i class="icon-more"></i></a>
            </h6>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-4">
                <stat-box [css]="'bg-teal-400'" [pourcentage]="100"
                          [number]="generalStatsStudentFile.nbStudentsAccounts"
                          [title]="'Nombre des étudiants'"></stat-box>
              </div>
              <div class="col-md-4">
                <stat-box [css]="'bg-pink-400'"
                          [pourcentage]="(generalStatsStudentFile.nbStudentsFiles*100)/generalStatsStudentFile.nbStudentsAccounts"
                          [number]="generalStatsStudentFile.nbStudentsFiles"
                          [title]="'Nombre des dossiers'"></stat-box>
              </div>
              <div class="col-md-4">
                <stat-box [css]="'bg-green-400'"
                          [pourcentage]="(generalStatsStudentFile.nbStudentsFilesValid*100)/generalStatsStudentFile.nbStudentsFiles"
                          [number]="generalStatsStudentFile.nbStudentsFilesValid"
                          [title]="'Nombre des dossiers validé'"></stat-box>
              </div>

            </div>
            <div class="row">
              <div class="col-md-3">
                <stat-box [css]="'bg-blue-400'"
                          [pourcentage]="(generalStatsStudentFile.nbStudentsRevised*100)/generalStatsStudentFile.nbStudentsFiles"
                          [number]="generalStatsStudentFile.nbStudentsRevised"
                          [title]="'Nombre des dossiers à réviser'"></stat-box>
              </div>

              <div class="col-md-3">
                <stat-box [css]="'bg-grey-400'"
                          [pourcentage]="(generalStatsStudentFile.nbStudentsFilesWaiting*100)/generalStatsStudentFile.nbStudentsFiles"
                          [number]="generalStatsStudentFile.nbStudentsFilesWaiting"
                          [title]="'Nombre des dossiers non traité'"></stat-box>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /quick stats boxes -->
