<!-- Info blocks -->
<div class="panel-heading">
  <h6 class="panel-title"></h6>

</div>

<div class="row">
  <form action="#" [ngBusy]="busy" >
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-flat">


          <div *ngFor="let plage of plages ;let i = index">

          <div class="table-responsive" id="border1">
            <table class="table text-nowrap">

                <tr>
                  <th style="width: 50px">Sélectionnez le jour :</th>
                  <th style="width: 300px;">
                    <select name="jour" class="select-jour_{{i}}">
                      <option value="0" disabled>Choisir un jour</option>
                      <option *ngFor="let jour of jours ; let i=index" value={{i}} >
                        {{jour}}
                      </option>
                    </select>
                  </th>
                  <th class="text-center" style="width: 20px;"></th>
                </tr>

                <tr>
                  <th style="width: 50px">Sélectionnez un types :</th>
                  <th style="width: 300px;" *ngIf="types.length">
                    <select name="theme" class="select-type_{{i}}">
                      <option value="0" disabled>Choisir un type</option>
                      <option *ngFor="let type of types" value="{{type.type_id}}">
                        {{type.libelle}}
                      </option>
                    </select>
                  </th>
                  <th class="text-center" style="width: 20px;"></th>
                </tr>

                <tr>
                  <th style="width: 50px">Sélectionnez l'heure de début :</th>
                  <th style="width: 300px;">
                    <input type="time" class="form-control" name="heure_debut" min="08:00" max="18:00"
                           [(ngModel)]="plage.heure_debut" value="08:00"/>
                  </th>
                  <th class="text-center" style="width: 20px;"></th>
                </tr>


                <tr>
                  <th style="width: 50px">Sélectionnez l'heure de fin :</th>
                  <th style="width: 300px;">
                    <input type="time" class="form-control" name="heure_fin" min="09:00" max="20:00"
                           [(ngModel)]="plage.heure_fin"/>
                  </th>
                  <th class="text-center" style="width: 20px;"></th>
                </tr>

              <div class="row">
                <div class="col-md-6  text-right" style="margin-bottom: 15px">
                  <button *ngIf="plages.length>1" (click)="removePlage()"
                          class="btn bg-danger btn-labeled btn-labeled-right ml-10"><b><i
                    class="icon-cross2"></i></b> Supprimer
                  </button>
                </div>
                <div class="col-md-6 text-left" style="margin-bottom: 15px">
                  <button (click)="addPlage()"
                          class="btn bg-blue btn-labeled btn-labeled-right ml-10"><b><i
                    class="icon-plus3"></i></b> Ajouter
                  </button>
                </div>

              </div>

            </table>
          </div>
          </div>

          <div class="text-right">
            <button class="btn btn-primary" (click)="onSubmit()">Envoyer<i
              class="icon-arrow-right14 position-right"></i></button>
          </div>


        </div>
      </div>
    </div>
  </form>

</div>
