<!-- Page container -->
<div class="page-container">

  <!-- Page content -->
  <div class="page-content">

    <!-- Main content -->
    <div class="content-wrapper">

      <!-- Content area -->
      <div class="content" [ngBusy]="busy">


        <!-- General Info -->
        <app-teacher-general-info *ngIf="teacher" [isAdmin]="isAdmin" [teacher]="teacher"></app-teacher-general-info>
        <!-- /General Info -->

        <!-- Photos -->
        <app-teacher-photos *ngIf="teacher" [isAdmin]="isAdmin" [teacher]="teacher"></app-teacher-photos>
        <!-- /Photos -->

        <!-- Bac -->
        <app-bac-component *ngIf="teacher" [isAdmin]="isAdmin" [teacher]="teacher"></app-bac-component>
        <!-- /Photos -->

        <!-- Doctaurat -->
        <app-doctaurat-component *ngIf="teacher" [isAdmin]="isAdmin" [teacher]="teacher"></app-doctaurat-component>

        <!-- Fonction -->
        <app-fonction-component *ngIf="teacher" [isAdmin]="isAdmin" [teacher]="teacher"></app-fonction-component>

        <!-- Residanat -->
        <app-residanat-component *ngIf="teacher" [isAdmin]="isAdmin" [teacher]="teacher"></app-residanat-component>

        <!-- Assistant -->
        <app-assis-aggr-component *ngIf="teacher" [isAdmin]="isAdmin" [teacher]="teacher"
                                  [mode]="'assistanat'"></app-assis-aggr-component>

        <!-- Aggregation -->
        <app-assis-aggr-component *ngIf="teacher" [isAdmin]="isAdmin" [teacher]="teacher"
                                  [mode]="'aggregation'"></app-assis-aggr-component>

        <!-- Professorat -->
        <app-assis-aggr-component *ngIf="teacher" [isAdmin]="isAdmin" [teacher]="teacher"
                                  [mode]="'professorat'"></app-assis-aggr-component>

        <!-- -->
      </div>
      <!-- /content area -->

    </div>
    <!-- /main content -->

  </div>
  <!-- /page content -->

</div>
<!-- /page container -->

