<!-- Page container -->

<div class="page-container">
  <!-- Page content -->
  <div class="page-content">

    <!-- Main content -->
    <div class="content-wrapper">

      <!-- Content area -->
      <div class="content" [ngBusy]="busy">

        <!-- Registration form -->
        <form #registerForm="ngForm" class="form-validate">
          <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
              <div class="panel registration-form">
                <div class="panel-body">
                  <div class="text-center">
                    <h5 class="content-group-lg"> Impression Attestation de présence de l'année universitaire
                      {{year_university}}
                    </h5>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Langue</label>
                        <div class="input-group">
                          <select name="country" class="select-langue">
                            <option disabled value="0">Choisir la langue</option>
                            <option value="1">
                              Francais
                            </option>
                            <option disabled value="2">
                              Arabe
                            </option>
                          </select>

                        </div>
                      </div>
                      <label *ngIf="submitted&&!langue" class="validation-error-label">Ce champs
                        est
                        obligatoire.</label>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Code de l'etudiant</label>
                        <input type="text" class="form-control" placeholder="Code de l'etudiant" name="codeStudent"
                               [(ngModel)]="codeStudent"
                               required>
                      </div>
                      <label *ngIf="submitted&&!codeStudent" class="validation-error-label">Ce champs
                        est
                        obligatoire.</label>
                    </div>

                  </div>

                  <div class="text-right">
                  <button (click)="generateAttestation()"
                          class="btn bg-teal-400 btn-labeled btn-labeled-right ml-10"><b><i
                    class="icon-pen2"></i></b> Générer
                  </button>
                </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <!-- /registration form -->


      </div>
      <!-- /content area -->

    </div>
    <!-- /main content -->

  </div>
  <!-- /page content -->

</div>
<!-- /page container -->
