<!-- Content area -->
<div class="content">

  <!-- Invoice archive -->
  <div class="panel panel-white">
    <div class="panel-heading">
      <h6 class="panel-title">Liste étudiant</h6>
      <div class="heading-elements">
        <ul class="icons-list">
          <li><a data-action="collapse"></a></li>
        </ul>
      </div>
    </div>
    <div class="checkbox checkbox-switchery">
      <label>
        <input type="checkbox" class="switch" [checked]="isReviewingMode">
        Reviewing Students
      </label>
    </div>
    <table class="table datatable-basic" [ngBusy]="busy">
      <thead>
      <tr>
        <th>#</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>CIN</th>
        <th>email</th>
        <th>birthday</th>
        <th>Status</th>
        <th class="text-center">Actions</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let student of students;let i=index;">
        <td>{{student.id_student}}</td>
        <td>
          {{student.first_name}}
        </td>
        <td>
          {{student.last_name}}
        </td>
        <td>
          {{student.cin?student.cin:student.passport}}
        </td>
        <td>
          {{student.email}}
        </td>
        <td>
          {{student.birthday}}
        </td>
        <td>
          <ul class="list list-unstyled text-right">
            <li></li>
            <li class="dropdown">
              <a href="#"
                 class="label {{student.administration_review===0?'bg-grey':student.administration_review===-1?'bg-danger':student.administration_review===1?'bg-green':'bg-warning'}}  dropdown-toggle"
                 data-toggle="dropdown">{{student.administration_review===0?"En
                attente":student.administration_review===-1?'Invalid':student.administration_review===-1?'Valid':'A
                reviser'}}
                <span class="caret"></span></a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a (click)="updateStudentStatusAfterReview(i,1)"><i
                  class="icon-checkmark3"></i>Valider</a></li>
                <li><a (click)="updateStudentStatusAfterReview(i,2)"><i class="icon-warning"></i>A reviser</a>
                <li class="divider"></li>
                <li><a (click)="updateStudentStatusAfterReview(i,-1)"><i class="icon-cross2"></i>Refuser</a>
                </li>
              </ul>
            </li>
          </ul>

        </td>
        <td class="text-center">
          <ul class="icons-list">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-menu9"></i>
              </a>

              <ul class="dropdown-menu dropdown-menu-right">
                <li><a [routerLink]="'/student/'+student.id_student+'/detail'"><i class="icon-file-eye"></i>Voir détails</a>
                </li>
                <li><a [routerLink]="'/student/'+student.id_student+'/edit'"><i class="icon-pencil"></i>Editer</a></li>
                <li><a (click)="deleteStudent(i)"><i class="icon-close2"></i>Supprimer</a></li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <!-- /invoice archive -->

</div>
<!-- /content area -->
