<!-- Page container -->
<div class="page-container">

  <!-- Page content -->
  <div class="page-content" [ngBusy]="busy">

    <!-- Main content -->
    <div class="content-wrapper">

      <form>
        <div class="col-lg-4 col-lg-offset-4 panel ">
          <div class="panel-body form-group">
            <label><h5>{{student? student.last_name+" "+student.first_name:''}}</h5></label>
            <select name="niveau" class="select-level">
              <option value="0">Tous les niveaux</option>
              <option *ngFor="let niveau of niveaux" value="{{niveau.id_level}}">
                {{niveau.label}}
              </option>
            </select>
          </div>
        </div>
      </form>
      <!-- General Info -->
      <app-student-general-info *ngIf="student" [isAdmin]="isAdmin" [student]="student"></app-student-general-info>
      <!-- /General Info -->

      <!-- Photos -->
      <app-student-photos *ngIf="student" [isAdmin]="isAdmin" [student]="student"></app-student-photos>
      <!-- /Photos -->

      <!-- Bac Info -->
      <app-student-bac-info *ngIf="student" [isAdmin]="isAdmin" [student]="student"></app-student-bac-info>
      <!-- /Bac Info -->

      <!-- Student Studies Info -->
      <app-student-studies *ngIf="student" [isAdmin]="isAdmin" [student]="student"></app-student-studies>
      <!-- /Student Studies Info -->

      <!-- Student Residanat Info -->
      <app-student-residnat *ngIf="student" [isAdmin]="isAdmin" [student]="student"></app-student-residnat>
      <!-- /Student Residanat Info -->

      <!-- Student Doctaurat Info -->
      <app-student-doctaurat *ngIf="student" [isAdmin]="isAdmin" [student]="student"></app-student-doctaurat>
      <!-- /Student Doctaurat Info -->

      <!-- Student Fonctions Info -->
      <app-student-fonction *ngIf="student" [isAdmin]="isAdmin" [student]="student"></app-student-fonction>
      <!-- /Student Fonctions Info -->

    </div>
    <!-- /content area -->

  </div>
  <!-- /main content -->

</div>
<!-- /page content -->


<!-- /page container -->

